/* body {
  background-color: bisque !important;
} */

html,
body {
  overflow-x: hidden;
}

.sticky {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
/* #deac46 */

.fade:not(.show) {
  opacity: 1 !important;
}
/*------------------- navbar styles starts -------------------*/
.navbar {
  background-color: #deac46 !important;
}

.custom {
  border: 2px solid white;
  color: white;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px;
}

.custom:hover {
  border-radius: 20px;
  background-color: white;
  color: #deac46;
}

.nav-item {
  margin: 0 15px;
}

.nav-item a {
  padding: 5px;
}
ul.navbar-nav {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.nav-link {
  color: white !important;
}
/*------------------- navbar styles Ends -------------------*/

/*------------------- Sidebar Styles Starts -------------------*/
.sidenav a {
  display: flex;
  font-size: 18px;
  padding: 8px 8px 8px 32px;
  /* color: #deac46 !important; */
  color: white !important;
  text-decoration: none;
  transition: 0.5s;
}

.sidenav a:hover {
  font-weight: bold;
}

.sidenav {
  background-color: #deac46;
  display: none;
  transition: 0.5s;
  height: 100%;
  position: fixed;
  top: 66px;
  left: 0;
  z-index: 999;
}

.sidenav a:hover {
  background-color: white;
  color: #deac46 !important;
}

/*------------------- Sidebar Styles Ends -------------------*/

/*------------------- Users Styles Starts -------------------*/
.user-edit {
  text-decoration: none;
  color: green;
  padding: 5px;
  border: 1px solid green;
}
.user-edit:hover {
  background-color: green;
  color: white;
}

.user-delete {
  text-decoration: none;
  color: red;
  padding: 5px;
  border: 1px solid red;
  margin-left: 5px;
}

.user-delete:hover {
  background-color: red;
  color: white;
}

.btn-addUser {
  border: 2px solid green;
  background-color: green;
  text-decoration: none;
  color: white;
  font-weight: bold;
  padding: 5px;
  border-radius: 10px;
}

.btn-addUser:hover {
  background-color: white;
  color: green;
}

/*------------------- Users Styles Ends -------------------*/

/*------------------- contact Styles Starts -------------------*/

.contact table th,
.contact table td {
  padding: 10px;
}

.contact table {
  border: 1px solid #deac46;
  table-layout: fixed;
}

.contactor-name {
  background-color: #deac46;
}

.contact table th {
  text-align: center;
}

/*------------------- contact Styles Ends -------------------*/

/*------------------- Addd User Styles Starts -------------------*/
.login-register .form-heading {
  background-color: #deac46;
  font-family: "Rouge Script", cursive;
  font-size: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login-register .form-body {
  border: 2px solid #deac46;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-register .form-control {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.login-register .input-group-text i {
  font-size: 2rem;
}

.login-register .input-group-text {
  border-color: #deac46 !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.login-register .form-button {
  background-color: #deac46;
  border: 1px solid #deac46;
  border-radius: 20px;
  font-size: 18px;
  font-family: " Rouge Script ", cursive;
}

.login-register .form-button:hover {
  color: white;
  background-color: #deac46;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
  border-color: #deac46;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0login-register 0.075) inset,
    0 0 8px rgba(255, 156, 8, 0login-register 0.624);
  outline: 0 none;
}

.login-register .booking-form select {
  width: 100%;
  border-color: #deac46;
  font-size: 1rem;
  line-height: 1login-register 0.5;
  padding: 0login-register 0.375rem 0login-register 0.75rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.login-register .booking-form select:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0login-register 0.075) inset,
    0 0 8px rgba(255, 156, 8, 0login-register 0.624);
  outline: 0 none;
}

.login-register .login-register div.login-register .text-center a {
  text-decoration: none;
  color: #deac46;
}

.login-register .input-group label {
  font-weight: 400;
  text-align: start;
}
/*------------------- Addd User Styles Ends -------------------*/
