html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  /* overflow-x: hidden; */
}

section {
  overflow-x: hidden;
}

/* ----------------------------Home Page Styles---------------------------- */

/* Nav-Bar Styles */
.bg-colour {
  background-color: rgb(255, 255, 255);
}

.sticky {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.navbar-brand {
  font-weight: bold;
  font-family: monospace;
  font-size: 28px;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item {
  margin: 0 15px;
}

.nav-item a {
  padding: 5px;
}

.nav-link {
  border-bottom: 3px solid transparent;
}

.nav-link:hover {
  color: #deac46 !important;
  border-bottom: 3px solid #deac46;
}

.navbar-nav {
  display: flex;
  justify-content: space-around;
}

.nav-item a.active {
  color: #deac46 !important;
  border-bottom: 3px solid #deac46;
}

.custom {
  border: 2px solid #deac46;
  color: rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
}

.custom#custom:hover,
.custom#custom.active {
  border-radius: 20px;
  background-color: #deac46;
  color: white !important;
}

/* Nav-Bar Styles Ends */

/* Carousel Styles Starts */
.carousel-item img {
  height: 600px !important;
  /* filter: brightness(60%); */
  object-fit: cover;
}

.btn-book-your-stay {
  border: 2px solid #deac46;
  color: white;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px;
}

.btn-book-your-stay:hover {
  color: white;
  background-color: #deac46;
}

.carousel-indicators > li {
  border-radius: 50%;
}

/* Carousel Styles Ends */

/* Description Styles Starts */

.desc-links a {
  border: 2px solid #deac46;
  text-decoration: none;
  color: #deac46;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
  border-radius: 5px;
}

.desc-links a:hover {
  color: white;
  background-color: #deac46;
}

/* Description Styles Ends */

/* Services Styles Starts */
.row div img {
  width: 100px;
  height: 100px;
}

.row .col-4 {
  display: flex;
  justify-content: center;
}

.service-caption:hover {
  color: #deac46;
  font-weight: bold;
  cursor: pointer;
}

/* Services Styles Ends */

/* Testimonial Styles Starts */

.card {
  box-shadow: 0px -10px 0px #deac46;
}

.testimonials .card img {
  width: 6rem;
  border-radius: 5rem;
  box-shadow: 3px 15px 20px rgba(0, 0, 0, 0.5);
}

span.profession {
  color: #deac46;
  font-weight: bold;
}

span.from {
  color: #807e7a;
}

.testimonials-name {
  font-weight: bold;
}

section div hr {
  border-top: 5px solid #deac46;
}

.card-text {
  line-height: 1.5em;
  margin: 15px 0 30px 0;
}

/* Testimonial Styles Ends */

/* footer styles starts */
footer {
  background-color: #16161a;
}

.segment-one h4 a {
  color: #deac46;
  font-size: 30px;
  letter-spacing: 3px;
}

.segment-one h4 a:hover {
  border-bottom: 1px solid #deac46;
  color: white;
}

footer a {
  text-decoration: none;
  color: #868c98;
}

footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer li {
  margin-bottom: 10px;
}

.segment-two a:hover,
.segment-three a:hover,
.segment-four a:hover {
  color: #deac46;
  margin-left: 10px;
  transition: all 0.5s ease;
}

.segment-one .links a i {
  background-color: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
}

.segment-one .links a i {
  font-size: 20px;
  color: white;
  padding: 10px 11px;
}

.segment-one .links i:hover {
  background-color: #deac46;
  color: #16161a;
}

footer h3::before {
  content: "|";
  color: #deac46;
  padding-right: 10px;
}

.copyright-footer {
  color: #868c98;
}

.copyright-footer a {
  color: #deac46;
}

.copyright-footer a:hover {
  color: #deac46;
}

/* footer styles ends */

/* ----------------------------AboutUs Page Styles Starts---------------------------- */
.about-us .banner-area {
  background: url("../../images/about_us/aboutus1.jpg") no-repeat fixed;
  background-size: cover;
  color: white;
  height: 400px;
}

.content-area {
  text-align: center;
  padding-top: 150px;
}

.content-area p {
  font-size: 24px;
}

.content-area h1::before {
  content: "|";
  color: #deac46;
  padding-right: 10px;
}

.au-item .au-num span {
  font-size: 30px;
  font-weight: 700;
  color: #deac46;
}

.au-item .au-num h3 {
  font-size: 40px;
}

.about-us .card-img-top {
  width: 100%;
  min-height: 40vh;
  object-fit: cover;
}

.about-us-counters {
  background: url("../../images/about_us/bar.jpg") no-repeat fixed;
  background-size: cover;
  color: white;
}

.about-us-counters div p {
  color: #868c98;
}

/* ----------------------------About Us Page Styles Ends---------------------------- */

/* ----------------------------Contact Us Page Styles---------------------------- */
.contact-page .banner-area {
  background: url("../../images/contact.jpg") no-repeat fixed;
  background-size: cover;
  color: white;
  height: 400px;
}

.contact-form span {
  color: red;
}

.contact-form button {
  border: 1px solid #deac46;
  color: #deac46;
}

.contact-form button:hover {
  background-color: #deac46;
  color: white;
}

.contact-info {
  margin-bottom: 25px;
}

.contact-info h3 {
  color: #2a2a2a;
  font-size: 16px;
}

.contact-info span {
  color: #2a2a2a;
  font-size: 20px;
}

.contact-info p {
  font-size: 14px;
  color: #deac46;
}

.contact-info {
  display: flex;
}
/* ----------------------------Contact Us Page Styles Ends---------------------------- */

/* ----------------------------Login Page Styles Starts---------------------------- */
.bg-login {
  background: url("../../images/login-page.jpg") no-repeat fixed;
  background-size: cover;
}

.form-heading {
  background-color: #deac46;
  font-family: "Rouge Script", cursive;
  font-size: 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.form-body {
  border: 2px solid #deac46;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.form-control {
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.input-group-text i {
  font-size: 2rem;
}

.input-group-text {
  border-color: #deac46 !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.form-button {
  background-color: #deac46;
  border: 1px solid #deac46;
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  font-family: " Rouge Script ", cursive;
}

.form-button:hover {
  color: white;
  background-color: #deac46;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus {
  border-color: #deac46;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 156, 8, 0.624);
  outline: 0 none;
}

.booking-form select {
  width: 100%;
  border-color: #deac46;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.booking-form select:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(255, 156, 8, 0.624);
  outline: 0 none;
}

.login-register div.text-center a {
  text-decoration: none;
  color: #deac46;
}

.input-group label {
  font-weight: 400;
  text-align: start;
}

/* ----------------------------Login Page Styles Ends---------------------------- */

/* ----------------------------Accommodation Styles starts---------------------------- */

.rooms-bg {
  background: url(../../images/accommodation/rooms-bg.jpg) no-repeat fixed;
  background-size: cover;
  height: 400px;
  color: white;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: none;
}

.rooms .card h3,
.rooms .card .price,
.suites .card h3,
.suites .card .price {
  color: #deac46;
}

.rooms .price,
.suites .price {
  font-size: larger;
}

.btn-book-now {
  text-decoration: none;
  border: 2px solid #deac46;
  border-radius: 5px;
  color: black;
  padding: 10px;
}

.btn-book-now:hover {
  color: white;
  background-color: #deac46;
  font-weight: bold;
}

.accommodation-reserve {
  background: url(../../images/accommodation/rooms-footer.jpg) no-repeat fixed;
  height: 200px;
  background-size: cover;
  color: white;
}

.fixed-bg-content {
  margin-top: 39px !important;
}

.fixed-bg-content p {
  font-size: 50px;
}

.fixed-bg-content a {
  border: 1px solid #deac46;
  padding: 10px;
  font-size: medium;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  color: #deac46;
}

.fixed-bg-content a:hover {
  background-color: #deac46;
  color: white;
}

.fade:not(.show) {
  opacity: 1 !important;
}
/* ----------------------------Accommodation Styles Ends---------------------------- */
